
<p>{{name}}</p>

<p>There are : {{this.counters.length}} counters</p>
<br>
<div style="text-align:center" [ngClass]="'divStyle responsive'">
<button  *ngIf="!(superFlag)" (click)="create()" [ngClass]="'btn btn-create'" >Create</button>
<button *ngIf="superFlag" (click)="createSc()" [ngClass]="'btn btn-create'">Create Super Counter</button>

<ng-container *ngIf="!(superFlag)">
    <app-counter-detail  *ngFor="let c of counters" [counter]="c"></app-counter-detail>
</ng-container>
<ng-container *ngIf="superFlag">
    <app-super-counter *ngFor="let c of counters" [superCounter]="c"></app-super-counter>
</ng-container>
</div>


